<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225458522869-ipigbhk8f1a3abgp3b4favs94g4f4hm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225458522869-ipigbhk8f1a3abgp3b4favs94g4f4hm5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>225458522869-1jq422420c8oeml7h3becivbdlphmk3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6NCrWCVkG2dfPxiipypr7SCoxli7yNtk</string>
	<key>GCM_SENDER_ID</key>
	<string>225458522869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oriw.pdcollect.ios1</string>
	<key>PROJECT_ID</key>
	<string>dopa-x-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dopa-x-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225458522869:ios:b755e3c5c09b81bcf653bc</string>
</dict>
</plist>