*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
/PDDataCollect/jdk17/
/PDDataCollect/jdk17.zip
/PDDataCollect/sdk-tools.zip
/sdk/
.idea/
.gradle/
*.apk
.adbhome/
**/.adbhome/
